/*
Swansea font obtained from fontspace.com,
license: Public Domain
See link: https://www.fontspace.com/swansea-font-f5873

Roboto slap medium obtained from fontspace.com,
license: Apache License 2.0
See link: https://www.fontspace.com/roboto-slab-font-f40174
*/

@font-face {
  font-family: 'swansea';
  src: url('fonts/swansea.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'roboto-slap-medium';
  src: url('fonts/robotoSlabMedium.ttf');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: swansea, serif;
  font-size: 10px;
}

body {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

h1, h2 {
  font-family: roboto-slap-medium, sans-serif;
  letter-spacing: 3px;
}

h1 {
  font-size: 5rem;
  text-align: center;
}

h2 {
  font-size: 3rem;
  letter-spacing: 4px;
}

section h2 + p {
  text-indent: 20px;
}

p, li {
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 0.5px;
  word-spacing: 3px;
}

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

footer p {
  text-align: right;
}

a {
  outline: none;
}

a[href*="http"] {
  padding-right: 18px;
  background: url(external-link-52.png) no-repeat 100% 0;
  background-size: 16px 16px;
}

a:link, a:visited {
  color: #a66;
}

a:focus, a:hover {
  text-decoration: none;
}

a:active {
  color: blue;
}


ul, ol {
  margin: 1.6rem 0;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: lower-latin;
}

nav ul {
  padding-left: 0;
  margin-top: 0.8rem;
}

nav li {
  list-style-type: none;
  margin-bottom: 2rem;
}

nav li a {
  text-decoration: none;
  display: inline-block;
  width: 100%;
  line-height: 3;
  text-align: center;
  font-size: 2.5rem;
  border: 1px solid #a66;
}

nav li a:focus, nav li a:hover {
  color: white;
  background: #a66;
}

nav li a:active {
  color: white;
  background: black;
}